/Squirlearn_POM/Squirlearn/SquirlearnDBManager/nbproject/
/Squirlearn_POM/Squirlearn/SquirlearnDBManager/target/
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT/WEB-INF/lib/SquirlearnBusiness-1.0-SNAPSHOT.jar
Squirlearn/SquirlearnBusiness/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Squirlearn/SquirlearnBusiness/target/SquirlearnBusiness-1.0-SNAPSHOT.jar
Squirlearn/SquirlearnDBManager/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Squirlearn/SquirlearnDBManager/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Squirlearn/SquirlearnDBManager/target/SquirlearnDBManager-1.0-SNAPSHOT.jar
Squirlearn/SquirlearnPersistance/target/SquirlearnPersistance-1.0-SNAPSHOT.jar
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT.war
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT/WEB-INF/classes/com/mycompany/squirlearnws/persona/Persona.class
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT/WEB-INF/lib/SquirlearnBusiness-1.0-SNAPSHOT.jar
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT/WEB-INF/lib/SquirlearnDBManager-1.0-SNAPSHOT.jar
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT/WEB-INF/lib/SquirlearnModel-1.0-SNAPSHOT.jar
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT/WEB-INF/lib/SquirlearnPersistance-1.0-SNAPSHOT.jar
*.class
*.class
*.lst
*.jar
*.dumpstream
*.txt
*.lst
*.jar
*.jar
*.dumpstream
*.dumpstream
*.dumpstream
*.class
*.lst
*.class
*.class
Squirlearn/SquirlearnWA/.vs/SquirlearnWA/config/applicationhost.config
Squirlearn/SquirlearnWA/.vs/SquirlearnWA/CopilotIndices/17.14.995.13737/CodeChunks.db
Squirlearn/SquirlearnWA/.vs/SquirlearnWA/CopilotIndices/17.14.995.13737/SemanticSymbols.db
*.vsidx
Squirlearn/SquirlearnWA/.vs/SquirlearnWA/v17/.suo
Squirlearn/SquirlearnWA/.vs/SquirlearnWA/v17/DocumentLayout.backup.json
Squirlearn/SquirlearnWA/.vs/SquirlearnWA/v17/DocumentLayout.json
*.p7s
*.nupkg
*.jar
*.jar
Squirlearn/SquirlearnDBManager/target/surefire-reports/TEST-pe.edu.pucp.squirlearn.db.DBManagerTest.xml
Squirlearn/SquirlearnDBManager/target/surefire-reports/TEST-pe.edu.pucp.squirlearn.db.DBManagerTest.xml
Squirlearn/SquirlearnDBManager/target/surefire-reports/TEST-pe.edu.pucp.squirlearn.db.util.CifradoTest.xml
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT/WEB-INF/lib/SquirlearnBusiness-1.0-SNAPSHOT.jar
