/Squirlearn_POM/Squirlearn/SquirlearnDBManager/nbproject/
/Squirlearn_POM/Squirlearn/SquirlearnDBManager/target/
Squirlearn/SquirlearnWS/target/SquirlearnWS-1.0-SNAPSHOT/WEB-INF/lib/SquirlearnBusiness-1.0-SNAPSHOT.jar
