<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.8.1" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CategoriaPortBinding" />
                <binding name="PersonaPortBinding" />
                <binding name="ColorPortBinding" />
                <binding name="CondicionPortBinding" />
                <binding name="FormatoPortBinding" />
                <binding name="SubcategoriaPortBinding" />
                <binding name="TamanoPortBinding" />
                <binding name="ItemPortBinding" />
                <binding name="NotificacionPortBinding" />
                <binding name="ComprobantePortBinding" />
                <binding name="AlquilerPortBinding" />
                <binding name="EstadoPublicacionPortBinding" />
                <binding name="PublicacionPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SquirlearnWS/Categoria"
                binding="basicHttpBinding" bindingConfiguration="CategoriaPortBinding"
                contract="categoriaSOAP.Categoria" name="CategoriaPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Persona"
                binding="basicHttpBinding" bindingConfiguration="PersonaPortBinding"
                contract="personaSOAP.Persona" name="PersonaPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Color"
                binding="basicHttpBinding" bindingConfiguration="ColorPortBinding"
                contract="colorSOAP.Color" name="ColorPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Condicion"
                binding="basicHttpBinding" bindingConfiguration="CondicionPortBinding"
                contract="condicionSOAP.Condicion" name="CondicionPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Formato"
                binding="basicHttpBinding" bindingConfiguration="FormatoPortBinding"
                contract="formatoSOAP.Formato" name="FormatoPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Subcategoria"
                binding="basicHttpBinding" bindingConfiguration="SubcategoriaPortBinding"
                contract="subcategoriaSOAP.Subcategoria" name="SubcategoriaPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Tamano"
                binding="basicHttpBinding" bindingConfiguration="TamanoPortBinding"
                contract="tamanoSOAP.Tamano" name="TamanoPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Item" binding="basicHttpBinding"
                bindingConfiguration="ItemPortBinding" contract="itemSOAP.Item"
                name="ItemPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Notificacion"
                binding="basicHttpBinding" bindingConfiguration="NotificacionPortBinding"
                contract="notificacionSOAP.Notificacion" name="NotificacionPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Comprobante"
                binding="basicHttpBinding" bindingConfiguration="ComprobantePortBinding"
                contract="comprobanteSOAP.Comprobante" name="ComprobantePort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Alquiler"
                binding="basicHttpBinding" bindingConfiguration="AlquilerPortBinding"
                contract="alquilerSOAP.Alquiler" name="AlquilerPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/EstadoPublicacion"
                binding="basicHttpBinding" bindingConfiguration="EstadoPublicacionPortBinding"
                contract="estadoPublicacionSOAP.EstadoPublicacion" name="EstadoPublicacionPort" />
            <endpoint address="http://localhost:8080/SquirlearnWS/Publicacion"
                binding="basicHttpBinding" bindingConfiguration="PublicacionPortBinding"
                contract="publicacionSOAP.Publicacion" name="PublicacionPort" />
        </client>
    </system.serviceModel>
</configuration>